@model IEnumerable<Parasale.WebUI.Areas.Admin.Models.UserListViewModel>

@{
    ViewData["Title"] = "Users";
    var voiceboarding = ViewBag.voiceboarding;
}

@section Styles{
    <style>
         .zmdi-help{
                font-size: 50px;
        }
        .ctm-Spinner {
            position: relative;
            width: 125px;
            padding-left: 0;
            padding-right: 0;
        }



        .checkbox label {
            position: absolute;
        }
    </style>
    <link href="~/lib/HoldOn.js-master/src/css/HoldOn.css" rel="stylesheet" />
}
<style>
    .bootbox.modal .modal-footer {
        justify-content: flex-end;
    }
</style>

<div class="row clearfix">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="header clearfix pb-0">
                <h2 class="float-left"><strong>Users</strong> List</h2>
            </div>
            <div class="body">
                <button id="autoplay" class="d-none">play</button>
                <div class="table-responsive">
                    @if (Model != null && Model.Count() > 0) { 
                    <table class="table table-hover table-striped table-borderless">
                        <thead>
                            <tr>
                                <th>Sr.</th>
                                <th>Name</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Role</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int index = 0;
                                foreach (var user in Model)
                                {
                                    index++;
                                    <tr>
                                        <td>@index</td>
                                        <td>@user.Name</td>
                                        <td>@user.Username</td>
                                        <td><a href="mailto:@user.Email">@user.Email</a></td>
                                        <td>@(user.IsManager ? "Manager" : "User")</td>
                                        <td>
                                            @if (user.IsManager)
                                            {
                                                <a id="btnRemoveFromManager" data-username="@user.Name" data-toggle="tooltip" data-placement="top" title="Remove from Manager" asp-area="Admin" asp-controller="User" asp-action="AddToManager" asp-route-Id="@user.Id" class="m-0 btn btn-info btn-xs manager">
                                                    <span class="zmdi zmdi-close"></span>
                                                    @*Remove from Managers*@
                                                </a>
                                                <span> | </span>
                                                <a id="btnassignuser" data-username="@user.Name" data-toggle="tooltip" data-placement="top" title="Assign Users" asp-area="Admin" asp-controller="User" asp-action="UsersList" asp-route-Id="@user.Id" class="m-0 btn btn-info btn-xs ausers" data-managerUserId="@user.Id">
                                                    <span class="zmdi zmdi-accounts-add"></span>
                                                </a>
                                                <span> | </span>
                                                <a id="btnteamview" data-username="@user.Name" data-toggle="tooltip" data-placement="top" title="View Team" asp-area="Admin" asp-controller="User" asp-action="TeamView" asp-route-Id="@user.Id" class="m-0 btn btn-info btn-xs teamView" data-managerUserId="@user.Id">
                                                    <span class="zmdi zmdi-eye"></span>
                                                </a>
                                            }
                                            else
                                            {
                                                @if (user.IsAlreadyTeamMember)
                                                {
                                                    <span>
                                                        Already in Team
                                                    </span>
                                                }
                                                else
                                                {
                                                    <a id="btnAddToManager" data-username="@user.Name" data-toggle="tooltip" data-placement="top" title="Make Manager" asp-area="Admin" asp-controller="User" asp-action="AddToManager" asp-route-Id="@user.Id" class="m-0 btn btn-info btn-xs manager">
                                                        <span class="zmdi zmdi-account-add"></span>
                                                    </a>
                                                }

                                            }

                                        </td>
                                    </tr>
                                }
                            }


                        </tbody>
                    </table>
                    }
                    else
                    {
                    <div class="col-md-12 text-center nodatadivStyle">
                        <div class="ND_Img_Wrap">
                            <p>No Data Found</p>
                            @*<img src="~/ThemeStyles/images/NoDataImages/Users.svg" />*@
                        </div>
                       
                    </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>





@section Scripts{
    <script src="~/lib/BootboxJs/bootbox.min.js"></script>
    <script src="~/lib/notify.js"></script>
    <script src="~/lib/HoldOn.js-master/src/js/HoldOn.js"></script>
@if (voiceboarding != true) {
<script src="~/assets/onboarding/js/voice-onboarding.js"></script>
}
    <script>
        
        $(document).ready(function () {
            var btnHtml = '';
    // btnHtml += '<button id="ppVoice" class="ppVoice">Play</button>';
    //btnHtml += '<button id="skip" class="skip">Save For Later</button>';
    //        $('.ttour-footer').append(btnHtml);
//             $(".skip").on("click", function () {
//    var Urlpath = window.location.href;
//    $.ajax({

//        url: '/Speech/SaveLater/',
//        data: { Urlpath:Urlpath, currentStep: currentStep },
//        success: function (res) {
//            $.notify("Successfully saved for later", 'success');
//        }
//    });
//});
//            $(".ppVoice").on("click", function () {

//                if ($(this).text() === "Play") {
//                    $(this).text("Pause");
//                    synth.resume();
//                }
//                else {
//                    $(this).text("Play");
//                    synth.pause();
//                }
//            });

        });
        var userName;
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
            $("#txtwelcome").html("Manage Users");
        });

        var managerUserId;

        $("#CreateNewModal").on('hidden.bs.modal', function () {
            location.reload();
        });

        $(document).on('change', '.checkisteammember', function () {
            var control = $(this);
            var isTeamMember = control.is(':checked');
            var userId = control.attr('data-userId');

            $.ajax({
                url: "/Admin/user/UpdateTeam",
                type: "GET",
                data: { isTeamMember: isTeamMember, userId: userId, managerUserId: managerUserId }
            }).done(function (res) {
                if (res.removed) {
                    $.notify(res.user + " " + "Removed from Team", "success");
                }
                else {
                    $.notify(res.user + " " + "Added to Team", "success");
                }
            });
        });


        $(document).on('click', '#btnassignuser', function (e) {
            e.preventDefault();
            managerUserId = $(this).attr("data-managerUserId");
            userName = $(this).attr('data-username');
            var url = $(this).attr('href');
            $.ajax({
                url: url,
                method: "GET",
                beforeSend: function () {
                    HoldOn.open({
                        theme: "sk-cube-grid"
                    });
                }
            }).done(function (res) {
                HoldOn.close();
                $("#CreateNewModal-label").html("Assign Users to <strong>" +userName+"</strong>");
                $("#CreateNewBody").html(res);
                $("#CreateNewModal").modal();
            });
        });

        $(document).on('click', '#btnteamview', function (e) {
            e.preventDefault();
            managerUserId = $(this).attr("data-managerUserId");
            userName = $(this).attr("data-username");
            var url = $(this).attr('href');
            $.ajax({
                url: url,
                method: "GET",
                beforeSend: function () {
                    HoldOn.open({
                        theme: "sk-cube-grid"
                    });
                }
            }).done(function (res) {
                HoldOn.close();
                $("#CreateNewModal-label").html("<strong>"+userName+"</strong>'s Team");
                $("#CreateNewBody").html(res);
                $("#CreateNewModal").modal();
            });
        });

        $(document).on('click', '#btnAddToManager', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            bootbox.confirm({
                message: "Are you Sure You Want To Add this user to Manager's Role",
                closeButton: false, buttons: {
                    confirm: { label: 'Yes', className: 'btn-info' },
                    cancel: { label: 'No', className: 'btn-danger mr-2' }
                },
                callback: function (result) {
                    if (result) {
                        $.ajax({
                            url: url,
                            beforeSend: function () {
                                HoldOn.open({
                                    theme: "sk-cube-grid"
                                });
                            }
                        }).done(function (result) {
                            HoldOn.close();
                            if (result) {
                                $.notify("User Successfully added to Manager's Role", "success");
                                location.reload();
                            }
                        });
                    }
                }
            });
        });

        $(document).on('click', '#btnRemoveFromManager', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            bootbox.confirm({
                message: "Are you Sure You Want To Remove this user from Manager's Role",
                closeButton: false, buttons: {
                    confirm: { label: 'Yes', className: 'btn-info' },
                    cancel: { label: 'No', className: 'btn-danger mr-2' }
                },
                callback: function (result) {
                    if (result) {
                        $.ajax({
                            url: url,
                            beforeSend: function () {
                                HoldOn.open({
                                    theme: "sk-cube-grid"
                                });
                            }
                        }).done(function (result) {
                            HoldOn.close();
                            if (result) {
                                $.notify("User Successfully Removed from Manager's Role", "success");
                                location.reload();
                            }
                        });
                    }
                }
            });
        });

    </script>
}